#root {
  max-width: 1680px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fcfcfc;
}

a {
  font-weight: 500;
  color: #548687;
  text-decoration: inherit;
}
a:hover {
  color: #75a8a9;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.nav-item {
  text-transform: capitalize;
  font-size: 25px;
}

.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr, 1fr);
}
.article-card {
  border: #a7a0a0 solid;
  margin: 1.5%;
}
.article-title {
  text-decoration: underline;
  font-size: 29px;
}
.article-topic {
  text-transform: capitalize;
}
.article-author {
  display: inline;
}
.article-page {
  margin: 10px 5% 10px 5%;
  border: black solid;
  padding: 10px;
}
.article-card-stats {
  display: flex;
}
.article-card-votes {
  margin-left: 10%;
}
.article-card-comment-count {
  margin-left: 30%;
}
.article-img {
  width: 70%;
}
.single-article-img {
  width: 60%;
}
.single-article-text {
  font-size: 22px;
  padding: 20px;
}
.single-article-title {
  text-decoration: underline;
  font-size: 29px;
}
.single-article-author {
  display: absolute;
  font-size: 24px;
}
.article-votes {
  font-size: 22px;
  margin: 5px 25% 5px 25%;
  border: black solid;
}
.comments-title {
  font-size: 25px;
}
.comment-votes {
  font-size: 18px;
}
.comment-list {
  font-size: 18px;
  margin: 0 8% 0 8%;
}
.comments-button {
  padding: 10px 20px;
  border-radius: 15px;
  width: 40%;
  background-color: lightblue;
  border: none;
  color: black;
}
.comments-button:hover {
  box-shadow:
    0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  text-decoration: underline;
}
.comment-container {
  margin: 10px 50px 10px 50px;
  border: black solid;
}
.comment-author {
  color: blue;
  font-weight: bold;
}
.comment-body {
  font-size: 19px;
}

.new-comment-form {
  margin: 18px;
  display: block;
}
.new-comment {
  padding: 10px;
}
.new-comment-label {
  padding: 10px;
}
.input {
  padding: 4px;
}
.username-input {
  width: 30%;
}
.comment-input {
  width: 60%;
  height: 60%;
}
